
{% extends 'base.html' %}
{% load staticfiles %}
{# comment html5 geolocation #}
{% block title %}
<title>Location | Clubtrafic</title>
<link rel="stylesheet" type="text/css" href="/static/static_root/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/static_root/css/font-awesome.min.css">
<script type="text/javascript" scr="/static/static_root/js/bootstrap.min.js"></script>
<style type="text/css">
  body{
    background-color: none;
  }

  .showmap {
    height: 100%;
    position: absolute;
    top: 62px;
    width: 100%;
  }
  #map{
    height: 100%;
  }
  .navbar-wrapper{
    background-color: black;
  }
  .showmap .gmnoprint {
    /*top:200px !important;*/
  }
</style>
{% endblock %}


{% block map %}
<div class="location-search">
  <div class="container">
    <div class="box-search">
      <div class="search-left">
        <form action="#">
          <button type="button"><i class="fa fa-search"></i></button>
          <input type="text" placeholder="Search"/>
        </form>
      </div>
      <div class="location-right">
        <!-- <input id="my-input" class="typeahead" type="text" placeholder="Search events"> -->
        
        <form onsubmit="return false;" class="pure-form" >
            <input id="hero-demo" autofocus type="text" name="q" placeholder="Search Events">
            <i class="fa fa-caret-down"></i>
        </form>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

<script src="/static/static_root/js/typeahead.min.js"></script>
<script type="text/javascript">
  // $(function(){
  //   var $input = $('#my-input');
  //   $input.typeahead({
  //     source:[{id: "someId1", name: "Name 1"}, {id: "someId2", name: "Name 2"}, {id: "someId3", name: "Name 3"}, {id: "someId4", name: "Name 4"}, {id: "someId5", name: "Name 5"}], 
  //           autoSelect: true,
  //           showHintOnFocus: true,
  //       });
  //   });
</script>
<script src="/static/static_root/js/auto-complete.js"></script>
    <script>
        var demo1 = new autoComplete({
            selector: '#hero-demo',
            minChars: 1,
            source: function(term, suggest){
                term = term.toLowerCase();
                var choices = [

                 {% for infEvent in events %}
                    "{{infEvent.title}}",
                 {% endfor %}

                ];
                var suggestions = [];
                for (i=0;i<choices.length;i++)
                    if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                suggest(suggestions);
            }
        });
    </script>

<div class="showmap">
  <div id="map"></div>
</div>

<div class="list-events">
  <div class="container">
      <h4>List Events</h4>
      <div class="list-ctn">
        <ul class="list">
          <li>
            <h3><a href="#">Kelly's Hair</a></h3>
            <p>912 | 17-Jun-16 06:52 | 41.682590481480084</p>
            <i class="fa fa-map-marker"></i>
          </li>
          <li>
            <h3><a href="#">Kazeks new fruit</a></h3>
            <p>915 | 18-Jun-16 10:03 | 44.050166135027304</p>
            <i class="fa fa-map-marker"></i>
          </li>
          <li>
            <h3><a href="#">Kelly's Hair 2</a></h3>
            <p>914 | 18-Jun-16 09:50 | 41.682590481480084</p>
            <i class="fa fa-map-marker"></i>
          </li>
          <li>
            <h3><a href="#">Kelly's Hair</a></h3>
            <p>912 | 17-Jun-16 06:52 | 41.682590481480084</p>
            <i class="fa fa-map-marker"></i>
          </li>
          <li>
            <h3><a href="#">Kazeks new fruit</a></h3>
            <p>915 | 18-Jun-16 10:03 | 44.050166135027304</p>
            <i class="fa fa-map-marker"></i>
          </li>
          <li>
            <h3><a href="#">Kelly's Hair 2</a></h3>
            <p>914 | 18-Jun-16 09:50 | 41.682590481480084</p>
            <i class="fa fa-map-marker"></i>
          </li>
        </ul>
      </div>
  </div>
</div>

    <script>

      // This example requires the Visualization library. Include the libraries=visualization
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=visualization">

      var map, heatmap;
      var marker;
      var markers = [];
      var pos = {
        lat: 0,
        lng: 0
      };
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: {lat: 37.775, lng: -122.434},
       
        });
        // heatmap = new google.maps.visualization.HeatmapLayer({
        //   data: getPoints(),
        //   map: map
        // });

        var infoWindow = new google.maps.InfoWindow({map: map});
        // Try HTML5 geolocation.
        if (navigator.geolocation) 
        {
              
              navigator.geolocation.getCurrentPosition(function(position) {
                 pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                };
                var url = "/location/updateCurrentPosition/";     
      
                var data = JSON.stringify(pos);
                $.ajax({
                  type: "POST",
                  url: url,
                  // contentType: "application/json; charset=utf-8",
                  data: {"pos": data},
                }).done(function(data){
                      var arr_point = []
                      var list_user = data[0]['list_user'];
                      var list_club = data[0]['list_club'];
                      for(var i = 0 ; i < list_user.length; i++) {
                          if(list_user[i].lat != null && list_user[i].lng != null)
                          {
                            for( var j = 0 ; j < list_club.length ; j++) {

                                if( list_club[j].lat != null && list_club[j].lng != null) 
                                {
                                  if(_haversine_distance(list_user[i].lng, list_user[i].lat , list_club[j].lng, list_club[j].lat) <= 20)
                                  {
                                      arr_point.push(new google.maps.LatLng(list_user[i].lat , list_user[i].lng )) ;
                                  }
                                }
                            }
                          }

                      };
                      heatmap = new google.maps.visualization.HeatmapLayer({
                        data: arr_point,
                        map: map
                      }); 

                  });
                myPosition = {
                  position: new google.maps.LatLng(pos.lat, pos.lng),
                  type: 'me'
                }

               
                // clearMarkers();
                // heatmap.set('radius', heatmap.get('radius') ? null : 15);
                
                {% for club in clubs %}
                    clubPosition  = {
                      position: new google.maps.LatLng(16.0777098, 108.1591619),
                      type: 'me'
                    }

                    addMarker(clubPosition);

                {% endfor %}

                infoWindow.setPosition(pos);
                // infoWindow.setContent('You here.');
                map.setCenter(pos);
              }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
              });


              
        } else {
              // Browser doesn't support Geolocation
              handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
        var icons = {
          parking: {
            icon: iconBase + 'parking_lot_maps.png'
          },
          library: {
            icon: iconBase + 'library_maps.png'
          },
          info: {
            icon: iconBase + 'info-i_maps.png'
          },
          me : {
            icon: "/static/static_root/img/icon-map/icon-me.png"
          }
        };

      function addMarker(feature) {
          marker = new google.maps.Marker({
              position: feature.position,
              icon: icons[feature.type].icon,
              map: map
           });
          markers.push(marker);
      }

      // Sets the map on all markers in the array.
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }

      // Removes the markers from the map, but keeps them in the array.
      function clearMarkers() {
        setMapOnAll(null);
      }


      // function toggleHeatmap() {
      //   heatmap.setMap(heatmap.getMap() ? null : map);
      // }

      // function changeGradient() {
      //   var gradient = [
      //     'rgba(0, 255, 255, 0)',
      //     'rgba(0, 255, 255, 1)',
      //     'rgba(0, 191, 255, 1)',
      //     'rgba(0, 127, 255, 1)',
      //     'rgba(0, 63, 255, 1)',
      //     'rgba(0, 0, 255, 1)',
      //     'rgba(0, 0, 223, 1)',
      //     'rgba(0, 0, 191, 1)',
      //     'rgba(0, 0, 159, 1)',
      //     'rgba(0, 0, 127, 1)',
      //     'rgba(63, 0, 91, 1)',
      //     'rgba(127, 0, 63, 1)',
      //     'rgba(191, 0, 31, 1)',
      //     'rgba(255, 0, 0, 1)'
      //   ]
      //   heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
      // }

      // function changeRadius() {
      //   heatmap.set('radius', heatmap.get('radius') ? null : 20);
      // }

      // function changeOpacity() {
      //   heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
      // }
      function _to_rad(x) {
        return x * Math.PI / 180;
      }
      function _haversine_distance(lon1, lat1, lon2, lat2) {
        var self = this;
        var R = 6371000; // m

        var x1 = lat2 - lat1;
        var dLat = _to_rad(x1);
        var x2 = lon2 - lon1;
        var dLon = _to_rad(x2);
        var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
            Math.cos(_to_rad(lat1)) * Math.cos(_to_rad(lat2)) *
            Math.sin(dLon / 2) * Math.sin(dLon / 2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        var d = R * c;
        return d;
      }

      function getPoints() {
        var arr = [];
        {% for inf in all_user %}
          {% if inf.lat_current != None and inf.lng_current != None %}

            {% for club in clubs %}
              {% if club.y_coordinate != None and club.x_coordinate != None %}  
                if(_haversine_distance({{inf.lng_current}}, {{inf.lat_current}} , {{club.y_coordinate}}, {{club.x_coordinate}}) <= 20) {
                    arr.push(new google.maps.LatLng({{inf.lat_current}} ,{{inf.lng_current}})) ;
                }
              {% endif %}
            {% endfor %}

          {% endif %}
        {% endfor %}

        // return [
        //   new google.maps.LatLng(pos.lat ,pos.lng),
        // ];
        return arr;
      }
      // function showResult(result) {
      //     // document.getElementById('latitude').value = result.geometry.location.lat();
      //     // document.getElementById('longitude').value = result.geometry.location.lng();
      //     console.log(result.geometry.location.lat());
      //     console.log(result.geometry.location.lng());
      // }

      // function getLatitudeLongitude(callback, address) {
      //     // If adress is not supplied, use default value 'Ferrol, Galicia, Spain'
      //     address = address || 'Ferrol, Galicia, Spain';
      //     // Initialize the Geocoder
      //     geocoder = new google.maps.Geocoder();
      //     if (geocoder) {
      //         geocoder.geocode({
      //             'address': address
      //         }, function (results, status) {
      //             if (status == google.maps.GeocoderStatus.OK) {
      //                 callback(results[0]);
      //             }
      //         });
      //     }
      // }
    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqOEMzWoJEkQ8vEQXlgQn32fXX83yGQAY&libraries=visualization&callback=initMap">
    </script>

{% endblock %}



