{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class='sign-out col-sm-6 col-sm-offset-3 log-out'>
	<h1>{% trans "Sign Out" %}</h1>

	<p>{% trans 'Are you sure you want to sign out?' %}</p>

	<form method="post" action="{% url 'account_logout' %}">
	  {% csrf_token %}
	  {% if redirect_field_value %}
	  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
	  {% endif %}
	  <button type="submit" class="btn-sign-out">
	  	<span class="glyphicon glyphicon-log-out"></span> {% trans 'Sign Out' %}
  	</button>
	</form>
</div>

{% endblock %}
