{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block title %}
<title>Edit profile</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'static_root/css/styles.css' %}">

{% endblock %}

{% block content %}
<div class='container'>
	<div class="edit_profile">
		<div class="edit_pro_left">
			<div class='ctn_edit_pro'>
		    	<h1>Edit profile</h1>
			    <div class="avatarProfile">
			    	<label>{{form.profile_photo.label}}</label>
			    	<div id="selectedFiles" class="img_user">
			    		{% if request.user.profile_photo %}
			    			<img src="/media/{{request.user.profile_photo}}">
			    		{% else %}
			    			<img src="{% static 'static_root/img/avatarUser.png' %}">
			    		{% endif %}
			    	</div>
			    	<div class="change_avt">
			    		<a href="#" class="btnChangeAvatar btn" id="changeAvatar">Change Avatar</a>
			    	</div>
			    	
			   	</div>
		   	</div> 
		</div>
		<div class="edit_pro_right">
			 <form method='POST' action='' enctype='multipart/form-data'>
			 	{% csrf_token %}
	     		{% load addCss %}
	     		<div class="displayNONE">
		    		{{form.profile_photo}}
		    	</div>
		       	<div class="list_form">
		       		<div class="style_form">
		    			<label>{{form.first_name.label}}</label>

			  			<div class="input_form">
			  				{{ form.first_name.errors }}
			    			{{form.first_name|addcss:'form-control'}}
			  			</div>

			    	</div>
			    	<div class="style_form">
			    		<label>{{form.last_name.label}}</label>
			    		<div class="input_form">
			    			{{ form.last_name.errors }}	
			    			{{form.last_name|addcss:'form-control'}}
			  			</div>
			    	</div>
			    	<div class="style_form">
			    		<label>{{form.sex.label}}</label>
			    		<div class="input_form">
			    			{{form.sex|addcss:'form-control'}}
			    		</div>
			    	</div>
			    	<div class="style_form">
			    		<label>{{form.following.label}}</label>
			    		<div class="input_form">
			    			{{form.following|addcss:'form-control'}}
			    		</div>
			    	</div>
			    	<div class="style_form">
			    		<label>{{form.following_type.label}}</label>
			    		<div class="input_form">
			    			{{following_type.error}}
			    			{{form.following_type|addcss:'form-control'}}
			    		</div>
			    	</div>
			    	<div class="style_form">
			    		<label>{{form.location.label}}</label>
			    		<div class="input_form">
			    			{{ form.location.errors }}
			    			{{form.location|addcss:'form-control'}}
			    		</div>
			    	</div>
			    	{% if request.user.is_business %}
			    	<div class="style_form">
			    		<label>{{form.business_name.label}}</label>

			    		<div class="input_form">
			    			{{ form.business_name.errors }}
			    			{{form.business_name|addcss:'form-control'}}
			    		</div>
			    	</div>
			    	{% endif %}
		       	</div>
		       	<div class="clr"></div> 
		       	<div class="input_btn">
		    		<input type='submit' class='btn btn-default' value='Save changes' />
		       	</div>
		    </form>
		</div>
	</div>

    
	{% if request.user.is_business %}
	{% include "layout/pop-up/delete-club.html" %}
	{% include "layout/pop-up/edit-club.html" %}
	     <div class="listClubs">
	     	<div class="add_club">
	     		<h3>My clubs</h3>
	     		<a href="#" class="btn btnAddClub" data-toggle="modal" data-target="#modalEditClub" id="btnAddClub">
	     			<span class="glyphicon glyphicon-plus"></span> Add Club
	     		</a>
	     	</div>
	     
	    	<div class="table-responsive">
	    		<table class="table table-striped table_club ">
			    <thead>
			      <tr>
			        <th>Name Club</th>
			        <th>Address</th>
			        <th>Phone Number</th>
			        <th>Hours of operation</th>
			        <th>Cover price</th>
			        <th>Dress code</th>
			        <th>Capacity</th>
			        <th>Age restriction</th>
			        <th>Website of the club</th>
			        <th>Type of music</th>
			        <th>Action</th>
			      </tr>
			    </thead>
			    <tbody id="allClub">
			    	{% for inf in request.user.all_post.all %}
			    		{% if inf.is_business %}
					      <tr class="club{{inf.id}}">
					        <td >{{inf.title}}</td>
					        <td>{{inf.address}}</td>
					        <td>{{inf.phone_number}}</td>
					        <td>{{inf.hours_of_operation}}</td>
					        <td>{{inf.cover_price}}</td>
					        <td>{{inf.dress_code}}</td>
					        <td>{{inf.capacity}}</td>
					        <td>
					        	{% if inf.age_restriction%}
					        		{{inf.get_age_restriction_display}}
					        	{% else %}
					        		*
					        	{% endif %}
					        </td>
					        <td>{{inf.website|safe}}</td>
					        <td>{{inf.type_of_music}}</td>
					        <td idClub="{{inf.id}}"><a class="glyphicon glyphicon-eye-open btnActionClub btnWatch" href="{{inf.get_absolute_url}}"></a><span class="glyphicon glyphicon-pencil btnActionClub btnEditClub" data-toggle="modal" data-target="#modalEditClub"></span><span class="glyphicon glyphicon-trash btnActionClub btnDeleteClub" data-toggle="modal" data-target="#modalDelClub"></span></td>
					      </tr>
					      {% endif %}
					{% endfor %}
					
			    </tbody>
			</table>
	    	</div>
	    </div>
	    {% endif %}
	</div>
    
   
</div>
    

  
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'static_root/js/profile-club.js' %}"></script>
<script type="text/javascript">
	$('document').ready(function() {
		$("#changeAvatar").click(function() {
			$("#id_profile_photo").click();
		})
	})
</script>
<script type="text/javascript">
	var selDiv = "";
    document.addEventListener("DOMContentLoaded", init, false);
    function init() {
      document.querySelector('#id_profile_photo').addEventListener('change', handleFileSelect, false);
      selDiv = document.querySelector("#selectedFiles");
    }
    function handleFileSelect(e) { 
      if(!e.target.files || !window.FileReader) return;
      selDiv.innerHTML = "";
      var files = e.target.files;
      var filesArr = Array.prototype.slice.call(files);
      filesArr.forEach(function(f) {
        if(!f.type.match("image.*")) {
          return;
        }
        var reader = new FileReader();
        reader.onload = function (e) {
          var html = "<div class='add-image'><img src=\"" + e.target.result + "\">" + "<br clear=\"left\"/></div>";
          selDiv.innerHTML += html;       
        }
        reader.readAsDataURL(f); 
      });
    }
</script>
<script>
      // This example requires the Visualization library. Include the libraries=visualization
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=visualization">
  $("#addressClub").keyup(function() {
  		getLatitudeLongitude(showResult, $("#addressClub").val());
  })
  $("#addressClub").blur(function() {
  		getLatitudeLongitude(showResult, $("#addressClub").val());
  })
  function initMap() {
  }
  function showResult(result) {
      $("#lat").val(result.geometry.location.lat());
      $("#lng").val(result.geometry.location.lng());
      // console.log(result.geometry.location.lat());
      // console.log(result.geometry.location.lng());
  }

  function getLatitudeLongitude(callback, address) {
      address = address || 'Ferrol, Galicia, Spain';
      // Initialize the Geocoder
      geocoder = new google.maps.Geocoder();
      if (geocoder) {
          geocoder.geocode({
              'address': address
          }, function (results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                  callback(results[0]);
              }
          });
      }
  }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqOEMzWoJEkQ8vEQXlgQn32fXX83yGQAY&libraries=visualization&callback=initMap">
</script>
{% endblock content %}