{% extends "base.html" %}
{% load static from staticfiles %}



{% block title %}
<title>Sign Up</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

{% endblock %}



{% block content %}
<div class="container">

    <h1 class="heading_get_started">Get Started Now</h1>
    <p class="already-acc">Already have an account? Then please <a href="/accounts/login/">sign in</a>.</p>
    <form class="signup" id="signup_form" method="POST" action="/accounts/signup/">
        {% csrf_token %}
        
        <div class="user-club">
            <label class="radio-inline" >
                <input id="id_is_business1"  type="radio" name="is_businessShow" class="is_business" value="0" checked>Users
                <input id="id_is_business"  type="checkbox" name="is_business" class="is_business displayNONE"  >
            </label>
            <label class="radio-inline">
                <input id="id_is_business2" type="radio" name="is_businessShow" class="is_business" value="1" >Club owners
            </label>
        </div>

        {% load addCss %}

        <div class="form-horizontal">
            <fieldset class="form-group list-err">
                <div class="control-label col-md-4  col-sm-4"></div>
                <div class="col-md-4 col-sm-6">
                    {{ form.username.errors }}
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label col-md-4 col-sm-4">Username</label>
                <div class="col-md-4 col-sm-6">
                    <div class="err_form">
                        {{ form.username.errors }}
                    </div>
                    {{ form.username|addcss:'form-control'}}
                    
                </div>
            </fieldset>
            <!-- ========== -->
            <fieldset class="form-group list-err">
                <div class="control-label col-md-4  col-sm-4"></div>
                <div class="col-md-4 col-sm-6">
                    {{ form.password.errors }}
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label col-md-4  col-sm-4">{{ form.password.label }}</label>
                <div class="col-md-4 col-sm-6">
                    <div class="err_form">
                        {{ form.password.errors }}
                    </div>
                    {{ form.password|addcss:'form-control' }}
                </div>
            </fieldset>
            <!-- ========== -->
            <fieldset class="form-group list-err">
                <div class="control-label col-md-4  col-sm-4"></div>
                <div class="col-md-4 col-sm-6">
                    {{ form.password2.errors }}
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label col-md-4 col-sm-4">Password2</label>
                <div class="col-md-4  col-sm-6">
                    <div class="err_form">
                        {{ form.password2.errors }}
                    </div>
                    {{ form.password2|addcss:'form-control' }}
                </div>
            </fieldset>
            <!-- ========== -->
            <fieldset class="form-group list-err">
                <div class="control-label col-md-4  col-sm-4"></div>
                <div class="col-md-4 col-sm-6">
                    {{ form.first_name.errors }}
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label col-md-4 col-sm-4">First Name</label>
                <div class="col-md-4  col-sm-6">
                    <div class="err_form">
                        {{ form.first_name.errors }}
                    </div>
                    {{ form.first_name|addcss:'form-control' }}
                </div>
            </fieldset>
            <!-- ========== -->
            <fieldset class="form-group list-err">
                <div class="control-label col-md-4  col-sm-4"></div>
                <div class="col-md-4 col-sm-6">
                    {{ form.last_name.errors }}
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label col-md-4 col-sm-4">Last Name</label>
                <div class="col-md-4 col-sm-6">
                    <div class="err_form">
                        {{ form.last_name.errors }}
                    </div>
                    {{ form.last_name|addcss:'form-control' }}
                </div>
            </fieldset>
            <!-- ========== -->
            <fieldset class="form-group list-err">
                <div class="control-label col-md-4  col-sm-4"></div>
                <div class="col-md-4 col-sm-6">
                    {{ form.email.errors }}
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label col-md-4 col-sm-4">Email</label>
                <div class="col-md-4 col-sm-6">
                    <div class="err_form">
                        {{ form.email.errors }}
                    </div>
                    {{ form.email|addcss:'form-control' }}
                </div>
            </fieldset>
            <!-- ========== -->
            <fieldset class="form-group list-err">
                <div class="control-label col-md-4  col-sm-4"></div>
                <div class="col-md-4 col-sm-6">
                    {{ form.location.errors }}
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label col-md-4 col-sm-4">Location</label>
                <div class="col-md-4 col-sm-6">
                    <div class="err_form">
                        {{ form.location.errors }}
                    </div>
                    {{ form.location|addcss:'form-control'}}
                </div>
            </fieldset>
            <!-- ========== -->
            <fieldset class="form-group list-err">
                <div class="control-label col-md-4  col-sm-4"></div>
                <div class="col-md-4 col-sm-6">
                    {{ form.business_name.errors }}
                </div>
            </fieldset>
            <fieldset class="form-group" id="businessname">
                <label class="control-label col-md-4 col-sm-4">Business name</label>
                <div class="col-md-4 col-sm-6">
                    <div class="err_form">
                        {{ form.business_name.errors }}
                    </div>
                    {{ form.business_name|addcss:'form-control' }}
                </div>
            </fieldset>
        </div>
        <div class="button-signup row">
            <div class="col-md-4 col-sm-4 list-err"></div>
            <div class="btn-submid col-md-4 col-sm-6">
                <input type="submit" value="Sign up" data-wait="Please wait..." class="btn btn-primary btn-lg btn-block btn-sub">
            </div>
        </div>
        
    </form>
<br />

</div>






<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script>
$('#businessname').hide()
$("input[type='radio'][name='is_businessShow']").click(function(){
  
   if ($("input[type='radio'][name='is_businessShow']:checked").val() == '1'){
       $('#businessname').show()
       $('#id_is_business').prop('checked', true);
   
   }
   else {
       $('#businessname').hide()
        $('#id_is_business').prop('checked', false);
   }
});
</script>
{% endblock %}
