
.bb{
        color: #2e467d;
}

option:first {
    color: #999;
}

.form-inline {
	margin-bottom: 16px;
}
.formSignup input[type="text"]{
	
}
.formSignup .errorlist{
	padding: 0;
	list-style: none;
	color: red;

}
.displayNONE {
	display: none !important;
}
.avatarProfile{
	display: inline-block;
	width: 100%;
}
.avatarProfile label{}
.avatarProfile img{
	width: 154px;
	height: 154px;
	border: 2px solid #777;
    border-radius: 3px;
}
.btnChangeAvatar {
	border: 1px solid #2672ec;
    background: #2672ec;
    color: #fff;
    font-weight: bold;
}
.img_user {
    padding: 10px 0px;
}

.listClubs {
	display: inline-block;
	width: 100%;
	padding-top: 40px;
}
.btnAddClub{
    border: 1px solid #2672ec;
    background: #2672ec;
    color: #fff;
    font-weight: bold;
}
.btnAddClub:hover, .btnChangeAvatar:hover{
	background: #2672AD;
	color: #fff;
}
.btn-submid{
	
}
.button-signup{
	padding-bottom: 30px;
	padding-top: 15px;
}
.already-acc{
	text-align: center;
}
.user-club{
	text-align: center;
	padding: 15px 0px;
}
.bus_name{
	display: inline-block;
}
.table_club{
	margin: 0px;
	padding: 0px;
	margin: 30px 0px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.table_club thead{
	
}
.table_club thead tr th{
	text-align: center;
}
.table_club tbody{
	text-align: center;
}
.table_club tbody tr td{
    padding: 15px 0px;
    box-sizing: border-box;
    padding-left: 4px;
    padding-right: 4px;
}

/*** profile ***/
.btnActionClub {
	cursor: pointer;
	margin-right: 4px;
}
.modal-title-Club{
	color: #41454e;
}
.form-horizontal .form-group div .errorlist{
	list-style: none;
	padding-left: 0px;
}
.form-horizontal .form-group div .errorlist li{
	color: red;
}
.list-err{
	margin-bottom: 0px;
}
.list-err div .errorlist{
	margin-bottom: 0px;
}
.err_form {
	display: none;
}
/* ==================*/
.change_avt{
	padding: 15px 0px;
}
.edit_profile{

}
.edit_pro_left{
	text-align: center;
	width: 40%;
	float: left;
}
.edit_pro_right{
	width: 60%;
	float: right;
}
.ctn_edit_pro{
	width: 70%;
	float: right;
}
.list_form{
	width: 60%;
	float: left;
}
.style_form{
	padding: 7px 0px;
}
.input_btn{
	padding: 10px 0px;
}
.clr{
	clear: both;
}
.add_club{
	/*text-align: center;*/
}
.add_club h3{
	color: #333;
	margin: 0;
	padding: 15px 0px;
}
.ctn_edit_pro h1{
	margin: 0;
}
.edit_pro_right .errorlist{
	color: red;
	padding: 0;
	list-style: none;
}
.errorField{
	color: red;
}
/*=========login===========*/
.sign-up-top {
	text-align: center;
	padding: 15px 0px;
}
.sign-up-top p{
	margin: 0px;
}
.sign-up-top h1{
	margin: 0px;
	padding: 15px 0px;
}
.sign-up-form{

}
.sign-up-form form .forgot-sign button span{
	padding-right: 5px;
}
.sign-up-form form .forgot-sign .secondaryAction span{
	padding-right: 5px;
}
.sign-up-form form .alert{
	width: 36%;
	margin: 0px auto;
	padding: 7px 10px;
	border: none;
	background: none;
	font-weight: bold;
	border-radius: 0px;
}
.sign-up-form form .alert ul{
	padding-left: 20px;
}
.sign-up-form form .form-group{
	width: 36%;
	margin: 15px auto;
}
.forgot-sign{
	width: 36%;
	margin: 0px auto;
	text-align: center;
}
.forgot-sign a{
	margin: 0;
	float: right;
	color: #000;
	text-decoration: underline;
}
.forgot-sign .primaryAction{
	float: left;
	padding: 5px 20px;
}
.ctn-sign-up{
	padding-bottom: 50px;
}
/*======= Reset pass =========*/
.res-pass{
	text-align: center;
	padding-bottom: 30px;
}
.res-pass h1{
	margin: 0;
	padding: 0;
	padding: 15px 0px;
}
.res-pass p{
	margin: 0;
	padding: 0;
}
.res-pass form{
}
.res-pass form.password_reset input{
	padding: 5px 10px;
	border-radius: 3px;
}
.res-pass form.password_reset input.btn-success{
	/*padding: 5px 10px;*/
	/*border-radius: 3px;*/
	background: #dddddd;
}
.res-pass form .form-group{
	width: 50%;
	margin: 0px auto;
	padding: 20px 0px;
}
.res-pass form .form-group .controls p{
	padding-top: 5px;
}
.res-pass p.ctn-please{
	padding: 15px 0px;
}
/******** Search ********/
.btnSearchClub {
	width: 115px;
    border: 1px solid #0089ff;
    margin-bottom: 14px;
    background: #0089ff;
    font-weight: bold;
    color: #fff;
}
.form-search-club{
	margin-bottom: 30px;
	margin-top: 15px;
	border-left: 10px solid #999;
	background: #ddd;
	box-shadow: 12px 10px 15px;
	display: inline-block;
	padding: 20px 30px;
	border-radius: 5px;
}
.form-search-club label{}
.form-search-club input{
    width: 200px;
}
.form-search-club select{
    width: 200px;
}
.form-search-club .search-step1{
    /*display: inline-block;*/
    /*margin-right: 20px;*/
    max-width: 200px;
    float: left;
}
.form-search-club .search-step2 {
	/*display: inline-block;*/
	max-width: 200px;
	float: left;
	margin-left: 20px;
}
.searchGo{
	/*display: inline-block;*/
	text-align: center;
	padding-top: 15px;
}
.searchGo input {
	width: auto;
	padding: 5px 50px;
	color: #fff;
	background: #0089ff;
	font-weight: bold;
}


.btnSearchClub:focus, .searchGo input:focus{
	color: #fff;
}
.btnSearchClub:hover, .searchGo input:hover{
	background: #0072ff;
	color: #fff;
}
.iconFacebook{
	background-image: url("http://w.sharethis.com/images/facebook_32.png");
    display: inline-block;
    width: 32px;
    height: 32px;
}
/***************/

/*====== logout ========*/
.sign-out{
	text-align: center;
	padding: 15px 0px;
}
.sign-out h1{
	margin: 0;
	padding: 0;
}
.sign-out p{
	margin: 0;
	padding: 0;
	padding: 10px 0px;
}
.sign-out form .btn-sign-out{
    background: #086ae4;
    color: #fff;
    padding: 3px 13px;
    margin-bottom: 15px;
    margin-top: 10px;
    border-radius: 3px;
    font-weight: bold;
}
/*==== create-new-event ========*/
.create-new-event{
	padding-bottom: 50px;
}
/***** post business ********/
.thumbnail .caption {
	padding: 21px;
	color: #333;
	overflow: hidden;
}
#id_following_type li{
	list-style: none;
}
.star-rating .caption{
	padding: 0;
    display: inline-block;
    width: 36px;
}
.setHeight{
	min-height: 483px;
}
.hide_validate .errorlist{
	display: none;
}
.setHeightEvent{
	min-height: 613px;
}
/***************************/
@media (max-width: 991px){
	/* ======= profile =========*/
	.table_club thead th{
		font-size: 12px;
	}
	.ctn_edit_pro{
		width: 100%;
	}
	.list_form{
		width: 80%;
	}
	.ctn_edit_pro h1{
		font-size: 34px;
	}
	.sign-up-form form .alert{
		width: 60%;
	}
	/*========sign-out =======*/
	.sign-out h1{
		font-size: 34px;
	}
}
@media (max-width: 768px){
	.form-horizontal .form-group label.control-label{
		width: 28%;
	}
	.form-horizontal .form-group div.control-label{
		width: 28%;
	}
	.button-signup .list-err{
		width: 28%;
	}
}
@media (max-width: 767px){
	/* ======== profile =========*/
	.heading_get_started{
		font-size: 28px;
	}
	.btn-submid .btn-sub{
		font-size: 14px;
	}
	.avatarProfile img {
	    width: 120px;
	    height: 120px;
	}
	.ctn_edit_pro h1{
		font-size: 30px;
	}
	.listClubs{
		padding-top: 15px;
	}
	.add_club h3{
		padding: 10px 0px;
		font-size: 24px;
	}
	.table-responsive {
		border: none;
	}
	.table-responsive table{
		margin: 15px 0px;
	}
	.err_form {
		display: block;
	}
	.list-err{
		display: none;
	}
	.form-horizontal .form-group{
		width: 60%;
		margin: 10px auto;
	}
	.form-horizontal .form-group label.control-label{
		width: 100%;
	}
	.form-horizontal .form-group div.control-label{
		width: 100%;
	}
	.button-signup{
		width: 60%;
		margin: 20px auto;	
	}
	.button-signup{
		padding-top: 0px;
		padding-bottom: 0px;
	}
	/*=====Sign up=========*/
	.sign-up-form form .form-group{
		width: 41%;
	}
	.sign-up-top h1{
		font-size: 30px;
	}
	.forgot-sign .primaryAction{
		float: none;
	}
	.forgot-sign a{
		float: none;
		display: block;
		padding: 10px 0px;
	}
	.forgot-sign{
		width: 100%;
	}
	.sign-up-form form .alert{
		/*width: 60%;*/
		padding: 5px 10px;
	}

	/*=====Reser password ======*/
	.res-pass h1{
		font-size: 30px;
	}
	/*===== Sign-uot =======*/
	.sign-out h1{
		font-size: 30px;
	}
	.sign-out p{
		padding: 7px 0px;
	}
}
@media (max-width: 680px){
	/*======= sign up ========*/
	.sign-up-form form .alert{
		width: 71%;
	}
}
@media (max-width: 600px){
	/*========= profile =========*/
	.ctn_edit_pro h1{
		font-size: 26px;
	}
	.avatarProfile img {
	    width: 110px;
	    height: 110px;
	}
	.form-horizontal .form-group{
		width: 70%;
	}
	.button-signup{
		width: 70%;
	}
	/*====== sign up =========*/
	.sign-up-top h1{
		font-size: 26px;
	}
	.forgot-sign .primaryAction{
		padding: 3px 10px;
	}
	.ctn-sign-up{
		padding-bottom: 30px;
	}
	.sign-up-form form .alert{
		width: 73%;
	}
	/*=====Reser password ======*/
	.res-pass h1{
		font-size: 26px;
	}
	/*=== Sign-up ====*/
	.sign-out h1{
		font-size: 26px;
	}
	/*==== Club =====*/
	.form-search-club .search-step1{
		float: none;
	}
	.form-search-club .search-step2{
		margin-left: 0px;
		float: none;
	}
	
}
@media (max-width: 480px){
	/*====== profile ======*/
	.btn-submid .btn-sub{
		/*padding: 7px 0px;*/
	}
	.ctn_edit_pro h1{
		font-size: 22px;
	}
	.change_avt a{
		font-size: 12px;
	}
	.input_btn input{
		font-size: 12px;
	}
	.ctn_edit_pro h1{
		font-size: 20px;
	}
	.add_club h3{
		font-size: 20px;
	}
	.sign-up-form form .form-group{
		width: 46%;
	}
	.sign-up-top h1{
		font-size: 24px;
	}
	.ctn-sign-up{
		padding-bottom: 20px;
	}
	/*=====Reser password ======*/
	.res-pass h1{
		font-size: 24px;
	}
	/*===== Sign-up =========*/
	.sign-out h1{
		font-size: 22px;
	}
	.sign-out p{
		padding: 0px;
	}
	.sign-out form .btn-sign-out{
		margin-bottom: 0px;
	}
	.sign-out{
		padding-top: 0px;
	}
}
@media (max-width: 424px){
	.btn-submid .btn-sub{
		/*padding: 5px 0px;*/
	}
	.btn-submid{
		padding: 5px 0px;
	}
	.heading_get_started{
		font-size: 24px;
	}
	.btn-submid .btn-sub{
		font-size: 12px;
	}	
	.ctn_edit_pro{
		width: 100%;
	}
	.list_form{
		width: 80%;
	}
	.avatarProfile img {
	    width: 90px;
	    height: 90px;
	}
	.change_avt a{
		padding: 3px 5px;
	}
	.ctn_edit_pro h1{
		font-size: 18px;
	}
	.add_club h3{
		font-size: 18px;
	}
	.btnAddClub{
		font-size: 12px;
		padding: 3px 5px;
	}
	.input_btn input{
		padding: 3px 5px;
	}

	/*====== sign up =========*/
	.sign-up-top h1{
		font-size: 22px;
	}
	.sign-up-form form .alert{
		width: 100%;
	}
	/*=====Reser password ======*/
	.res-pass h1{
		font-size: 22px;
	}
}
@media (max-width: 375px){
	.ctn_edit_pro h1{
		font-size: 16px;
	}
	.avatarProfile img {
	    width: 80px;
	    height: 80px;
	}
	.change_avt a{
		padding: 2px;
	}
	.style_form{
		padding: 3px 0px;
	}
	/*======= profile_edit =========*/
	.edit_pro_left{
		width: 45%;
	}
	.edit_pro_right{
		width: 55%;
	}
	/*======= sign up =========*/
	.sign-up-form form .form-group{
		width: 55%;
	}
	.sign-up-top h1{
		font-size: 20px;
	}
	/*=====Reser password ======*/
	.res-pass h1{
		font-size: 20px;
	}
	.res-pass form .form-group .controls input{
		width: 100%;
	}
	.form-horizontal .form-group{
		width: 80%;
	}
	.btn-submid .btn-sub{
		padding: 7px 0px;
	}
}
