body{
      background-color: rgba(0, 0, 0, 0.78);
}
.navbar{
  margin-bottom: 0;
}
.navbar-wrapper{
  position: static;
  margin-bottom: 0;
  background: #000;
}
.home-get-start-now{
        position: absolute;
    top: 340px;
    width: 100%;
    text-align: center;
}
.home-get-start-now a{
    text-decoration: none;
    color: #ccc;
    text-transform: uppercase;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: bold;
}
.home-get-start-now a:hover{
    color: #fff;
    border: 1px solid #fff;
}
.section{
        padding-bottom: 0px;
}
.background-image-section-overlay{
    background-color: rgba(0, 0, 0, 0.85);
}
.background-image-section-overlay{
    
}
.background-image-section-overlay.pricing{
  background: rgba(0, 0, 0, 0.89);
  padding-bottom: 50px;
  min-height: 585px;
}

.page-header.at-location .page-header-overlay{
    background: rgba(0, 0, 0, 0.78) !important;
}
.page-header.at-location .page-header-overlay:hover{
        background-color: rgba(0, 0, 0, 0.60);
}
.image-background-section.pricing-plans{
    background-color: rgba(0, 0, 0, 0.85);
}
.caption-ctn{
    width: 60%;
    float: left;
}
.caption-ctn2{
    width: 40%;
    float: right;
    text-align: center;
}
.caption-ctn2 >div >p{
    
}
.thumbnail{
        background: #666;
    border: none;
}
.caption-update{
    clear: both;
}
.section.red{
      background-color: rgba(217, 2, 70, 0.4) !important;
}
.table_club thead tr th{
    color: #ccc;
}
.club2, .club4, .club6, .club8, .club10, .club11{
    color: #ccc;
}
.table-responsive .table_club{
        border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #ccc;
}
.add_club h3{
    color: #ccc !important;
}
.style_form label{
    color: #ccc;
}
.ctn_edit_pro h1{
    color: #ccc;
}
.avatarProfile label{
    color: #ccc;
}
h1{
    color: #ccc;
}
#preview {
    background: #f9f9f9;
    position: relative;
    color: #fff;
    float: left;
    width: 220px;
    height: 220px;
    margin: 0 20px 20px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    clear: both;
}
#content {
    width: 75%;
    max-width: 800px;
    line-height: 1.4em;
    margin: 0 50px 50px 100px;
    text-shadow: 0px 1px 0px #fff;
}
#preview {
    background: #f9f9f9;
    position: relative;
    color: #fff;
    float: left;
    width: 220px;
    height: 220px;
    margin: 0 20px 20px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    clear: both;
}
#canvas-preview {
    width: 220px;
    top: 70px;
    position: relative;
}
#preview-textfield {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: black;
    font-family: 'Amaranth', sans-serif;
}
.sign-out p{
    color: #ccc;
}
.sign-up-top p{
    color: #ccc;
}
.sign-up-form form .form-group label{
    color: #ccc;
}
.section.home-intro{
    background-color: rgba(217, 2, 70, 0.63);
}
.home-slide-overlay{
        background-color: rgba(0, 0, 0, 0.52);
}
.already-acc {
    text-align: center;
    color: #ccc;
}
.user-club label{
    color: #ccc;
}
.form-horizontal .form-group label{
    color: #ccc;
}
.forgot-sign a{
    color: #ccc;
}
.pagination{
    color: #ccc;
}
.res-pass p{
    color: #ccc;
}
#div_id_email label{
    color: #ccc;
}
      .speedometer {
  width: 200px;
  height: 100px;
  position: relative;
  border-radius: 200px 200px 0 0;
  margin: 20px auto;
}
.speedometer:after {
  background-color: #666;
  width: 20px;
  height: 10px;
  left: 50%;
  margin-left: -10px;
  border-radius: 20px 20px 0 0;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
}
.speedometer > .pointer {
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  bottom: 2px;
  animation: speed-1 0.5s alternate infinite ease-in-out;
}
.speedometer > .pointer:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
  border-width: 75px 0 0 3px;
  border-color: #ea2e2e transparent transparent;
  width: 0;
  height: 0;
}
.speedometer.speed-2 {
  background-color: #2185bc;
}
.speedometer.speed-2 > .pointer {
  animation-name: speed-2;
}
.speedometer.speed-2 > .demo{
    width: 170px;
    height: 86px;
    position: absolute;
    bottom: 0;
    left: 15px;
    /* border-radius: 50%; */
    border-radius: 170px 170px 0 0;
    background: #ccc;
}

@keyframes speed-2 {
  from {
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  to {
    -moz-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
  }

}
.setHeightEvent >div{
  width: 100%;
    max-width: 600px !important;
    text-align: center;
    padding-top: 20px;
}
.setHeightEvent >div img{
      display: inline-block;
      max-width: 241px;
    max-height: 115px;
}
.setHeightEvent >div.caption{
  text-align: left;
}
.setHeightEvent >div.caption h3{
  margin: 0;
}
.setHeightEvent >div.caption h3 a{
      color: #fff;
}
.setHeightEvent >div.caption h3 a:hover{
  color: #ddd;
  text-decoration: none;
}
.caption-ctn small{
      color: #fff;
    font-size: 13px;
    font-style: italic;
}
.caption-ctn p{
      color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.setHeightEvent >div.caption .caption-ctn p{
  margin: 0;
}
.setHeightEvent >div.caption .caption-ctn >div{
      margin: 0;
    padding-top: 10px;
    border-top: 1px solid #fff;
    width: 55%;
    margin-top: 10px;
}
.setHeightEvent {
    min-height: 400px;
    -webkit-box-shadow: inset 8px 10px 251px 123px rgba(39,41,39,1);
    -moz-box-shadow: inset 8px 10px 251px 123px rgba(39,41,39,1);
    box-shadow: inset 8px 10px 251px 123px rgba(39,41,39,1);
    background: #3d623d;
}
.wantRating{
  /*padding-bottom: 10px;*/
  display: inline-block;
      /*border-bottom: 1px solid #ddd;*/
    /*margin-bottom: 15px;*/
    color: #2185bc !important;
}
.frm-btn-tks{
  border-bottom: 1px solid #ddd;
  width: 65%;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.setHeight {
    /*min-height: 462px;*/
    min-height: 462px;
    -webkit-box-shadow: inset 8px 10px 251px 123px rgba(39,41,39,1);
    -moz-box-shadow: inset 8px 10px 251px 123px rgba(39,41,39,1);
    box-shadow: inset 8px 10px 251px 123px rgba(39,41,39,1);
    background: #3d623d;
}
.caption-ctn2 >div >p >input{
  padding: 5px 15px;
  border-radius: 3px;
}
.create-new-event label{
  color: #ccc;
}
.clearablefileinput{
  color: #ccc;
}
#postAPartyButton{
  padding: 5px 15px;
  border-radius: 4px;
}
.caption-ctn2 >p >input{
      padding: 7px 20px;
    border-radius: 4px;
    color: #fff;
    background: #236ea4;
    font-weight: bold;
}
.caption-ctn2 >p >input:hover{
     background: #1c5c89;
}
.showmap{
  height: 650px;
      border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    position: static;
}
.location-search{
  padding: 15px 0;
}
.box-search{
      width: 80%;
    margin: 0px auto;
}
.search-left{
  width: 75%;
    float: left;
    border-right: 2px solid;
}
.search-left form{
    width: 100%;
}
.search-left button{
  width: 5%;
    height: 34px;
    float: left;
    border-radius: 5px 0 0 5px;
    background: #fff;
    padding-left: 12px;
    font-size: 20px;
    color: #666;
}
.search-left input{
  width: 95%;
    float: left;
    height: 34px;
    border: none;
    padding: 10px;
}
.location-right{
      width: 25%;
    float: right;
    position: relative;
}
.location-right i{
  color: #666;
    position: absolute;
    right: 0;
    top: 0;
    height: 34px;
    width: 34px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}
.location-right input{
      width: 100%;
    height: 34px;
    padding: 8px 12px;
    border: none;
    border-radius: 0 5px 5px 0;
}
.clear{
  clear: both;
}
.location-right .dropdown-menu{
  width: 230px;
}
.list-events{
  width: 100%;
      padding: 15px 0 60px;
}
.list-events h4{
      margin: 0;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 15px;
    text-transform: none;
}
.list-ctn{
  background: #666;
  padding: 10px 15px;
}
.list{
      margin: 0;
    padding: 0;
    list-style: none;
    padding-bottom: 15px;
}
.list li{
  position: relative;
    padding: 10px 10px;
    border-bottom: 1px solid #eee;
}
.list li h3{
      margin: 0;
}
.list li h3 a{
  font-size: 18px;
    color: #eee;
}
.list li p{
  margin: 0;
    font-size: 12px;
    color: #eee;
}
.list li i{
  color: #eee;
    position: absolute;
    right: 10px;
    top: 25%;
    font-size: 24px;
}
.list li h3 a:hover{
  color: #aaa;
  text-decoration: none;
}
.caption h3{
  margin: 0;
    padding-bottom: 5px;
}
.caption h3 a{
  color: #fff;
}
.caption h3 a:hover{
  text-decoration: none;
  color: #ddd;
}
.rating-container{
      color: rgba(232, 232, 232, 0.92);
}
.rating-container .rating-stars{
  color: #2170a8;
}
.caption-ctn2 >div >p >input {
    padding: 7px 20px;
    border-radius: 4px;
    color: #fff;
    background: #236ea4;
    font-weight: bold;
}
.caption-ctn2 >div >p >input:hover {
    background: #1c5c89;
}
.form-search-club{
  border-left: 10px solid #999;
    background: #666;
    box-shadow: 12px 10px 15px rgba(51, 51, 51, 0.75);
}
.form-search-club form >div >div label{
  color: #fff;
}
.form-control{
  background-color: #eee;
}
#bar_chart_business{
  display: none;
}
.btnSearchClub{
  margin-top: 30px;
}
.list-type{

}
.list-type ul{
  list-style: none;
    margin: 0;
    padding: 0;
    background: #aaa;
    text-align: left;
    border-radius: 5px;
}
.list-type ul li{
  padding: 5px 15px;
}
.list-type ul li h5{
      margin: 0;
    padding: 7px 0;
    text-align: center;
    color: #fff;
}
.list-type ul li.list1{
      background: #ccc;
}
.list-type ul li.list2{

}
.list-type ul li:first-child{
  border-radius: 5px 5px 0 0;
    background: #323131;
    color: #fff;
}
.list-type ul li:last-child{
  border-radius: 0 0 5px 5px;
}
.list-type ul li a{
  color: #333;
}
.form-search-club{
  display: none;
  width: 43%;
}
.club{

}
.page-header-overlay{
  display: none;
}
.section.red{
  display: none;
  /*padding-bottom: 20px !important;*/
}
.res-pass {
    text-align: center;
    padding-bottom: 30px;
    margin: 0;
    margin: 0px auto;
    float: none;
}
.res-pass form.password_reset input.btn-success{
  color: #333;
}
.w-section .post-ctn{
      margin: 0 auto;
    float: none;
    padding-bottom: 30px;
}
.w-section .post-ctn .col-sm-12{
      background: #666;
      padding: 15px 25px;
      border-radius: 5px;
}
.w-section .post-ctn .col-sm-12 h1{
  margin: 0;
  color: #eaeaea;
  padding-bottom: 10px;
  background-color: #666 !important;
}
.w-section .post-ctn .col-sm-12 h6{
  margin: 0;
  color: #fff;
  font-size: 14px;
  padding-bottom: 8px;
}
.w-section .post-ctn h4{
  margin: 0;
  color: #fff !important;
  padding-bottom: 10px;
}
.w-section .post-ctn hr{
  margin: 0;
}
.log-out{
  margin: 0 auto;
    float: none;

}
.ctn-detail{
  margin: 0 auto;
  float: none;
}

.w-section .ctn-detail{
      margin: 0 auto;
    float: none;
    padding-bottom: 30px;
}
.w-section .ctn-detail .col-sm-12{
      background: #666;
      padding: 15px 25px;
      border-radius: 5px;
      margin-top: 30px;
}
.w-section .ctn-detail .col-sm-12 h1{
  margin: 0;
  color: #eaeaea;
  padding-bottom: 10px;
  background-color: #666 !important;
}
.w-section .ctn-detail .col-sm-12 h6{
  margin: 0;
  color: #fff;
  font-size: 14px;
  padding-bottom: 8px;
}
.w-section .ctn-detail h4{
  margin: 0;
  color: #fff !important;
  padding-bottom: 10px;
}
.w-section .ctn-detail hr{
  margin: 0;
}
.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }
.autocomplete-suggestions {
  color: #fff;
}
.image-background-section.pricing-plans{
  background-size: cover;
}
.logo-hd{
  width: 20%;
    height: 67px;
    float: left;
    padding: 0;
}
.logo-hd img{
      width: 100%;
    height: 100%;
}