{% extends "base.html" %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}



{% block content %}
<div class='col-sm-6 col-sm-offset-3 ctn-detail'>

<div class='row'>
<div class='col-sm-12'>

    <h1 style="color: #eaeaea; background-color: #0c0000">{{ instance.title }}</h1>
    <h6>Location: {{ instance.location.name }}</h6>
    <h4 style="color: #0c0000">Description: </h4>
    <h6 style="color: #d90246">{{ instance.content }}</h6>





<hr/>
<br/>

</div>
</div>


{% endblock content %}