{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>Create Event</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


{% endblock %}

{% block content %}
<div class='container'>

    <div class='col-sm-6 col-sm-offset-3'>
    <h1>Create a New Event</h1>

    <form method='POST' action='/business/create/' enctype='multipart/form-data'>{% csrf_token %}
    {{ form|crispy }}
    <input type='submit' class='btn btn-default' value='Add Club' />
    </form>
    </div>
</div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

{#    <script>#}
{#        function add_coordinates_success(data){#}
{#            var latitude = data.coords.latitude;#}
{#            var longitude = data.coords.longitude;#}
{#            $('#id_x_coordinate').val(latitude);#}
{#            $('#id_y_coordinate').val(longitude);#}
{##}
{#        }#}
{##}
{#        function add_coordinates_error(){#}
{#            // TODO show toast error#}
{#        }#}
{##}
{#        $( document ).ready(function() {#}
{#            navigator.geolocation.getCurrentPosition(add_coordinates_success,add_coordinates_error);#}
{#        });#}
{##}
{#    </script>#}

{% endblock content %}