<div>
    <a href="#" class="btn btnSearchClub" data-toggle="collapse" data-target="#showSearch">
        <span class="glyphicon glyphicon-search"></span> Search
    </a>
</div>
<div class="form-search-club collapse" id="showSearch"> 
    <form method="post" action="/posts/search/"> {% csrf_token %}
        <div class="search-step1">
            
            <div><label>Location:</label>
                <select class="form-control"  name="location">
                {% for inf in request.user.getListLocation %}
                    <option value="{{inf.id}}">{{inf.name}}</option>
                {% endfor %}
                </select>
            </div>
            <div>
                <label>Looking to go</label>
                <select class="form-control" id="selectLooking" name="ClubEvent">
                    <option value="clubbing">Clubbing</option>
                    <option value="parties">Parties</option>
                    <option value="events">Events</option>
                </select>
            </div>
            <div>
                <label>Rate</label>
                <input type="number" class="form-control" name="rate" id="rate" min="0" max="5">
            </div>  
            <div id='dateParty' class="displayNONE"><label>Date:</label><input type="text" id="datepicker" class="form-control" name="date"></div>
        </div>
        <div class="search-step2">
            <div>
                <label>Age group</label>
                <select class="form-control" name="age_restriction">
                    <option value="">All</option>
                    <option value="l">18-22</option>
                    <option value="m">23-27</option>
                    <option value="h">28-32</option>
                </select>
            </div>
            <div>
                <label>Preferred Genre</label>
                 <select class="form-control" name="type_of_music">
                    <option value="">All</option>

                    {% for inf in arr_music %}
                        <option value="{{inf.name}}">{{inf.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label>Hours of operation</label>
                <input type="number" name="hours_of_operation" class='form-control' id="hour_of_operation">
            </div>
            <div>
                <label>Cover price</label>
                <input type="number" name="cover_price" class='form-control' id="cover_price">
            </div>
            
        </div>
        <div class="clr"></div>
        <div class="searchGo">
            <input type="submit" value="Go" class="btn"/>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#rate").keyup(function() {
            if ($("#rate").val() > 5 || $("#rate").val() < 0 ) {
                $("#rate").val("")
            };
        })
        $("#hour_of_operation").keyup(function() {
            if ($("#hour_of_operation").val() < 0 ) {
                $("#hour_of_operation").val("")
            };
        }) 
        $("#cover_price").keyup(function() {
            if ($("#cover_price").val() < 0 ) {
                $("#cover_price").val("")
            };
        })
    })
</script>