
<!DOCTYPE html>

{% load staticfiles %}
{% load account %}
<!-- This site was created in Webflow. http://www.webflow.com--><!-- Last Published: Wed Feb 17 2016 23:15:47 GMT+0000 (UTC) -->
<html data-wf-site="56c1eb0908edd1584134fb07" data-wf-page="56c1eb0a08edd1584134fb0c">
  <head>
    <meta charset="utf-8">
    {% block title %}{% endblock title %}
    <meta name="description" content="A modern, playful responsive website template to showcase your party for example. Perfect for musicians or party organizers.">
    <meta property="og:image" content="http://files.rowanhartsuiker.com/Studiocorvus/template-waiters.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Webflow">

    <!-- My Custom CSS FILES !!! :D :D :D  -->
    {% block static %}{% endblock static%}

    <link rel="stylesheet" type="text/css" href="https://daks2k3a4ib2z.cloudfront.net/56c1eb0908edd1584134fb07/css/clubtrafic.webflow.eceb30560.css">

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ["Oswald:300,400,700","Montserrat:400,700","PT Sans:400,400italic,700,700italic","Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic","Roboto:100,300,regular,italic,500,500italic,700,900"]
        }
      });


    </script>
    <script type="text/javascript" src="https://daks2k3a4ib2z.cloudfront.net/0globals/modernizr-2.7.1.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/56c1eb0908edd1584134fb07/56c1eb0a08edd1584134fb4f_Favicon.png">
    <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/56c1eb0908edd1584134fb07/56c1eb0a08edd1584134fb50_Webclip.jpg">
    <link rel="stylesheet" type="text/css" href="{% static 'static_root/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static_root/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static_root/css/styles.css' %}">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
<body>




  <div data-ix="hide-popup" class="w-section popup">
    <div data-ix="hide-popup-block" class="popup-block">
      <div class="popup-content-block">
        <div class="popup-title">Contact us</div>
        <div class="popup-title subtitle">Got plans for a party?</div>
        <a href="#" data-ix="close-popup" class="w-inline-block close-popup-button">
          <img src="https://daks2k3a4ib2z.cloudfront.net/56c1eb0908edd1584134fb07/56c1eb0a08edd1584134fb41_Icon-close-white.png" class="close-icon">
        </a>

      </div>
      <div class="w-form popup-form">
        <form id="wf-form-Email-Form" name="wf-form-Email-Form" data-name="Email Form">
          <input id="name" type="text" placeholder="Enter your name" name="name" data-name="Name" class="w-input field">
          <input id="Phone" type="text" placeholder="Enter your phone number" name="Phone" data-name="Phone" class="w-input field">
          <input id="email-2" type="email" placeholder="Enter your email address" name="email" data-name="Email 2" required="required" class="w-input field">
          <textarea id="Message" placeholder="Enter message..." name="Message" data-name="Message" class="w-input field area"></textarea>
          <input type="submit" value="Submit" data-wait="Please wait..." class="w-button button submit">
        </form>
        <div class="w-form-done success-bg">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail error-bg">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
    </div>
  </div>
  <div data-ix="fixed-navbar" class="fixed-navbar-wrapper">
    <div data-collapse="medium" data-animation="over-left" data-duration="400" data-doc-height="1" class="w-nav navbar">
      <div class="w-container navbar-container">
        <a href="/" class="w-inline-block logo-container logo-hd">
          <img src="{% static 'static_root/img/Clubtrafic LOGO_multicolour_white_small.png' %}" class="img-responsive">
        </a>
        <nav role="navigation" class="w-nav-menu w-clearfix nav-menu">
          <a href="/" class="w-hidden-main w-inline-block logo-container responsive-menu">
            <div class="text-logo">Waiters</div>
            <div class="text-logo subtitle">Party organisers</div>
          </a>
          {% if request.user.is_authenticated %}
          <a href="/" class="w-nav-link nav-link">Home</a>
          {% endif %}
          
            {% if request.user.is_authenticated %}
                <a href="/posts/" class="w-nav-link nav-link">Events</a>
                <a href="/business/" class="w-nav-link nav-link">Clubs</a>
                <a href="/accounts/profile/" class="w-nav-link nav-link">Profile</a>
                <a href="/accounts/logout/" class="w-nav-link nav-link">logout </a>
            {% else %}
          <a href="/accounts/signup/" class="w-nav-link nav-link">get started now</a>
          <a href="/accounts/login/" class="w-nav-link nav-link">log in</a>
            {% endif %}
        </nav>
        <div class="w-nav-button menu-button">
          <div class="w-icon-nav-menu hamburger-icon"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div data-ix="show-navbar" class="navbar-wrapper">
    <div data-collapse="medium" data-animation="over-left" data-duration="400" data-doc-height="1" class="w-nav navbar">
      <div class="w-container navbar-container">
        <a href="/" class="w-inline-block logo-container logo-hd">
          <img src="{% static 'static_root/img/Clubtrafic LOGO_multicolour_white_small.png' %}" class="img-responsive">
        </a>
        <nav role="navigation" class="w-nav-menu w-clearfix nav-menu">
          <a href="/" class="w-hidden-main w-inline-block logo-container responsive-menu">
            <div class="text-logo">Waiters</div>
            <div class="text-logo subtitle">Party organisers</div>
          </a>
          {% if request.user.is_authenticated %}
          <a href="/" class="w-nav-link nav-link">Home</a>
          {% endif %}
            {% if request.user.is_authenticated %}
                <a href="/posts/" class="w-nav-link nav-link">Events</a>
                <a href="/business/" class="w-nav-link nav-link">Clubs</a>
                <a href="/accounts/profile/" class="w-nav-link nav-link">Profile</a>
                <a href="/accounts/logout/" class="w-nav-link nav-link">logout </a>

            {% else %}
          <a href="/accounts/signup/" class="w-nav-link nav-link">get started now</a>
          <a href="/accounts/login/" class="w-nav-link nav-link">log in</a>
            {% endif %}
        </nav>
        <div class="w-nav-button menu-button">
          <div class="w-icon-nav-menu hamburger-icon"></div>
        </div>
      </div>
    </div>
  </div>




  {% block map %}
  <div id="top" data-ix="show-fixed-navbar" class="w-section page-header at-location"

  style = "
  margin-top: 0px;
  margin-bottom: -10px;
  "
  >
    <div class="page-header-overlay"></div>
  </div>
  <div class="w-section image-background-section pricing-plans">
    <div id="more-about-us" class="background-image-section-overlay pricing">

      {% block content %}{% endblock content %}


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section section red  " style="

    padding-bottom: 1000px;

    "></div>
  {% endblock %}

<script type="text/javascript" src="https://daks2k3a4ib2z.cloudfront.net/56c1eb0908edd1584134fb07/js/webflow.066cd5266.js"></script>
<!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->

{% block boostrap %}
{% endblock %}


  <script>
  $(document).ready(function(){
    {% block jquery %}{% endblock %}
  });

</script>
</body>
</html>


