{% load static %}
<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com--><!-- Last Published: Wed Feb 17 2016 23:15:47 GMT+0000 (UTC) -->
<html data-wf-site="56c1eb0908edd1584134fb07" data-wf-page="56c1eb0a08edd1584134fb0e">
  <head>
    <meta charset="utf-8">
    <title>Welcome to ClubTrafic.com</title>
    <meta name="description" content="A modern, playful responsive website template to showcase your party for example. Perfect for musicians or party organizers.">
    <meta property="og:image" content="http://files.rowanhartsuiker.com/Studiocorvus/template-waiters.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Webflow">
    <link rel="stylesheet" type="text/css" href="https://daks2k3a4ib2z.cloudfront.net/56c1eb0908edd1584134fb07/css/clubtrafic.webflow.eceb30560.css">
    <link rel="stylesheet" type="text/css" href="{% static 'static_root/css/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ["Oswald:300,400,700","Montserrat:400,700","PT Sans:400,400italic,700,700italic","Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic","Roboto:100,300,regular,italic,500,500italic,700,900"]
        }
      });
    </script>
    <script type="text/javascript" src="https://daks2k3a4ib2z.cloudfront.net/0globals/modernizr-2.7.1.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/56c1eb0908edd1584134fb07/56c1eb0a08edd1584134fb4f_Favicon.png">
    <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/56c1eb0908edd1584134fb07/56c1eb0a08edd1584134fb50_Webclip.jpg">
  </head>
<body>


  <div data-ix="hide-popup" class="w-section popup">
    <div data-ix="hide-popup-block" class="popup-block">
      <div class="popup-content-block">
        <div class="popup-title">Contact us</div>
        <div class="popup-title subtitle">Got plans for a party?</div>
        <a href="#" data-ix="close-popup" class="w-inline-block close-popup-button">
          <img src="https://daks2k3a4ib2z.cloudfront.net/56c1eb0908edd1584134fb07/56c1eb0a08edd1584134fb41_Icon-close-white.png" class="close-icon">
        </a>
      </div>
      <div class="w-form popup-form">
        <form id="wf-form-Email-Form" name="wf-form-Email-Form" data-name="Email Form">
          <input id="name" type="text" placeholder="Enter your name" name="name" data-name="Name" class="w-input field">
          <input id="Phone" type="text" placeholder="Enter your phone number" name="Phone" data-name="Phone" class="w-input field">
          <input id="email-2" type="email" placeholder="Enter your email address" name="email" data-name="Email 2" required="required" class="w-input field">
          <textarea id="Message" placeholder="Enter message..." name="Message" data-name="Message" class="w-input field area"></textarea>
          <input type="submit" value="Submit" data-wait="Please wait..." class="w-button button submit">
        </form>
        <div class="w-form-done success-bg">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail error-bg">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
    </div>
  </div>
  <div data-ix="fixed-navbar" class="fixed-navbar-wrapper">
    <div data-collapse="medium" data-animation="over-left" data-duration="400" data-doc-height="1" class="w-nav navbar">
      <div class="w-container navbar-container ">

        <a href="/" class="w-inline-block logo-container logo-hd" >
          <img width='40%' src="{% static 'static_root/img/Clubtrafic LOGO_multicolour_white_small.png' %}" class="img-responsive"> 


        </a>
        <nav role="navigation" class="w-nav-menu w-clearfix nav-menu">
          <a href="/" class="w-hidden-main w-inline-block logo-container responsive-menu">
            <div class="text-logo">Waiters</div>
            <div class="text-logo subtitle">Party organisers</div>
          </a>
          <!-- <a href="/" class="w-nav-link nav-link">Home</a> -->
            {% if request.user.is_authenticated %}
                <a href="/posts/" class="w-nav-link nav-link">Events</a>
                <a href="/business/" class="w-nav-link nav-link">Clubs</a>
                <a href="/accounts/profile/" class="w-nav-link nav-link">Profile</a>
                <a href="/location/" class="w-nav-link nav-link">Map</a>
                <a href="/accounts/logout/" class="w-nav-link nav-link">logout </a>

            {% else %}
          <a href="/accounts/signup/" class="w-nav-link nav-link">get started now</a>
          <a href="/accounts/login/" class="w-nav-link nav-link">log in</a>
            {% endif %}
        </nav>
        <div class="w-nav-button menu-button">
          <div class="w-icon-nav-menu hamburger-icon"></div>
        </div>
      </div>
    </div>
  </div>
  <div data-ix="show-navbar" class="navbar-wrapper">
    <div data-collapse="medium" data-animation="over-left" data-duration="400" data-doc-height="1" class="w-nav navbar">
      <div class="w-container navbar-container">

        <a href="/" class="w-inline-block logo-container w--current logo-hd">
         <img height='190px' src="{% static 'static_root/img/Clubtrafic LOGO_multicolour_white_small.png' %}" class="img-responsive"> 
      </a>

        </a>
        <nav role="navigation" class="w-nav-menu w-clearfix nav-menu">
          <a href="/" class="w-hidden-main w-inline-block logo-container responsive-menu">
            <div class="text-logo">Waiters</div>
            <div class="text-logo subtitle">Party organisers</div>
          </a>
          <!-- <a href="/" class="w-nav-link nav-link">Home</a> -->
            {% if request.user.is_authenticated %}
                <a href="/posts/" class="w-nav-link nav-link">Events</a>
                <a href="/business/" class="w-nav-link nav-link">Clubs</a>
                <a href="/accounts/profile/" class="w-nav-link nav-link">Profile</a>
                <a href="/location/" class="w-nav-link nav-link">Map</a>
                <a href="/accounts/logout/" class="w-nav-link nav-link">logout </a>

            {% else %}
          <a href="/accounts/signup/" class="w-nav-link nav-link get-start">get started now</a>
          <a href="/accounts/login/" class="w-nav-link nav-link log-in">log in</a>
            {% endif %}
        </nav>
        <div class="w-nav-button menu-button">
          <div class="w-icon-nav-menu hamburger-icon"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="top" data-ix="show-fixed-navbar" class="w-section home-hero">
    <div data-animation="cross" data-duration="1500" data-infinite="1" data-delay="5000" data-autoplay="1" data-ix="show-slider-arrows" class="w-slider home-slider">
      <div class="w-slider-mask">
        <div class="w-slide home-slide _2">
          <div class="home-slide-overlay">
            <div class="w-container home-slide-container">
              <div class="home-get-start-now">
                <a href="/accounts/signup/">Get started now</a>
              </div>
              <div class="slider-text-block">
                <h2 data-ix="slider-title-animation" class="home-slide-title">Know where to go</h2>
                <!-- <h2 data-ix="slider-title-animation-2" class="home-slide-title _2">In case you were  wandering</h2> -->
              </div>
            </div>
          </div>
        </div>
        <div class="w-slide home-slide _3">
          <div class="home-slide-overlay">
            <div class="w-container home-slide-container">
              <div class="home-get-start-now">
                <a href="#">Get started now</a>
              </div>
              <div class="slider-text-block">
                <div class="slider-text-block">
                  <h2 data-ix="slider-title-animation" class="home-slide-title">Know where to go</h2>
                  <h2 data-ix="slider-title-animation-2" class="home-slide-title _2">In case you were wandering</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-ix="hide-left-arrow" class="w-slider-arrow-left slider-button-left">
        <div class="w-icon-slider-left slider-arrow-icon"></div>
      </div>
      <div data-ix="hide-right-arrow" class="w-slider-arrow-right slider-button-right">
        <div class="w-icon-slider-right slider-arrow-icon"></div>
      </div>
      <div class="w-slider-nav w-round w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny home-slider-navigation"></div>
    </div>
  </div>
  <div class="w-section section home-intro">
    <div class="w-container home-container centered">
      <h2 data-ix="fade-in-on-scroll-1" class="white-section-title">Sign up with your acemedic email</h2>
      <h2 data-ix="fade-in-on-scroll-2" class="white-section-title _2">see where the crowd is &nbsp;partying tonight</h2>
    </div>
    <div class="w-container feature-container">
      <!-- <div class="w-row intro-features">
        <div data-ix="fade-in-on-scroll-1" class="w-col w-col-2 w-col-medium-4 w-col-small-6 w-col-tiny-6 feature-column">
          <img src="https://daks2k3a4ib2z.cloudfront.net/56c1eb0908edd1584134fb07/56c1eb0a08edd1584134fb2e_Linecons-thewaiter.png" class="service-icon">
          <div class="service-title">Portable</div>
          <div class="service-title subtitle">Bar</div>
        </div>
        <div data-ix="fade-in-on-scroll-2" class="w-col w-col-2 w-col-medium-4 w-col-small-6 w-col-tiny-6 feature-column">
          <img src="https://daks2k3a4ib2z.cloudfront.net/56c1eb0908edd1584134fb07/56c1eb0a08edd1584134fb42_Icon-music.png" class="service-icon">
          <div class="service-title">UNLIMITED</div>
          <div class="service-title subtitle">MUSIC</div>
        </div>
        <div data-ix="fade-in-on-scroll-3" class="w-col w-col-2 w-col-medium-4 w-col-small-6 w-col-tiny-6 feature-column">
          <img src="https://daks2k3a4ib2z.cloudfront.net/56c1eb0908edd1584134fb07/56c1eb0a08edd1584134fb23_Linecons-drinks.png" class="service-icon">
          <div class="service-title">UNLIMITED</div>
          <div class="service-title subtitle">Drinks</div>
        </div>
        <div data-ix="fade-in-on-scroll-4" class="w-col w-col-2 w-col-medium-4 w-col-small-6 w-col-tiny-6 feature-column">
          <img src="https://daks2k3a4ib2z.cloudfront.net/56c1eb0908edd1584134fb07/56c1eb0a08edd1584134fb1a_Linecons-camera.png" class="service-icon">
          <div class="service-title">PRIVATE</div>
          <div class="service-title subtitle">Photographer</div>
        </div>
        <div data-ix="fade-in-on-scroll-5" class="w-col w-col-2 w-col-medium-4 w-col-small-6 w-col-tiny-6 feature-column">
          <img src="https://daks2k3a4ib2z.cloudfront.net/56c1eb0908edd1584134fb07/56c1eb0a08edd1584134fb43_icon-man.png" class="service-icon">
          <div class="service-title">PRIVATE</div>
          <div class="service-title subtitle">Waiters</div>
        </div>
        <div data-ix="fade-in-on-scroll-6" class="w-col w-col-2 w-col-medium-4 w-col-small-6 w-col-tiny-6 feature-column">
          <img src="https://daks2k3a4ib2z.cloudfront.net/56c1eb0908edd1584134fb07/56c1eb0a08edd1584134fb20_Linecons-music.png" class="service-icon">
          <div class="service-title">Your own</div>
          <div class="service-title subtitle">Ideas</div>
        </div>
      </div> -->
    </div>
  </div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://daks2k3a4ib2z.cloudfront.net/56c1eb0908edd1584134fb07/js/webflow.066cd5266.js"></script>
<!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->

</body>
</html>
