{% extends 'base.html' %}
{% load static from staticfiles %} 
{# comment html5 geolocation #}
{% block jquery %}
  window.onload = function(){
    if(navigator.geolocation)
      navigator.geolocation.getCurrentPosition(onSuccess, onError, {maximumAge:60000, timeout:5000, enableHighAccuracy:true});
    else
      alert("Geolocation is not supported by this browser.");

    function onSuccess(location){
      var loc_text = location.coords.latitude + "," + location.coords.longitude;
      var img_url = "http://maps.googleapis.com/maps/api/staticmap?center="+loc_text+"&zoom=14&size=400x300&sensor=false";
      console.log(location.coords.latitude);
      console.log(location.coords.longitude);
      console.log(img_url);
    };

    function onError(error){
      switch(error.code) {
        case error.PERMISSION_DENIED:
            alert("User denied the request for Geolocation.");
            break;
        case error.POSITION_UNAVAILABLE:
            alert("Location information is unavailable.");
            break;
        case error.TIMEOUT:
            alert("The request to get user location timed out.");
            break;
        case error.UNKNOWN_ERROR:
            alert("An unknown error occurred.");
            break;
      }
    };
  };
{% endblock %}

{% block title %}
<title>Events | This Week</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'static_root/css/styles.css' %}">

<style type="text/css">

    casvas{ border:#666 1px solid; }




</style>

    <script src="/static/static_root/js/chart.min.js"></script>
    <script src="/static/static_root/gauge/js/gauge.js"></script>
    <script src="/static/static_root/js/bar_chart.js"></script>
    <script src="/static/static_root/js/bar_chart_home.js"></script>

{% endblock %}


    {% block content %}
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
  FB.init({
    appId:'562676113915626',
    cookie:true,
    status:true,
    xfbml:true
  });

  function InviteF(url)
  {
    real_url = $(location).attr('href').split("#");
    FB.ui({
      method: 'send',
      link: real_url[0]+""+url,
    });
  }

</script>

<div class='container'>

    <button type="button" id = "postAPartyButton" >Post a Party</button>

    <script type="application/javascript">

        document.getElementById("postAPartyButton").onclick = function(){

            window.location.href = "/posts/create/";
        }

    </script>


<div class='col-large-6 col-large-offset-1'>
    <h1>Current Parties</h1>
    <canvas id="bar_chart_business" class="bar_chart_business"></canvas>
<!-- <form method='GET' action=''>
<input type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/>
<input type='submit' value='Search' />
</form>
 -->
{% include "layout/search/form-search.html" %}




<div class="row">
  {% for obj in object_list %}
  <div class="col-sm-6">
    <div class="thumbnail setHeightEvent">

        {% if obj.image %}
        <div style="max-width:250px; max-height:250px; margin: 0 auto;" >
            <img src='{{ obj.image.url }}' class='img-responsive' />
        </div>
         
        {% endif %}
      <div class="caption">
        {% if obj.draft %}<h3>Staff only: Draft</h3>{% endif %} {% if obj.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}
        <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a> <small>{{ obj.publish }}</small></h3>
        
        <div class="caption-ctn">
            <small>{{ obj.timestamp }}</small>
          {% if obj.user.get_full_name %}<p>Author: {{ obj.user.get_full_name }}</p>{% endif %}
          <p>{{ obj.content|linebreaks|truncatechars:120 }}</p>
          
          <div class="">
               <a href="#try" onclick="InviteF('{{obj.id}}')" class='iconFacebook'> </a>
               <span class='st_twitter_large' displayText='Tweet'></span>
          </div>

        </div>
        <div class='caption-ctn2'>
          <!-- <p><canvas id="gauge{{ obj.id }}" class="gauge" data-followers="{{ obj.followers_count }}"  data-id = "{{ obj.id }}"
                    {% if obj.id == user.following_id %}
                        data-followed="true"
                        {% endif %}
                   width="150" height="83"></canvas></p> -->
          <div class="speedometer speed-2 speedometer{{obj.id}}">
            <div class="demo"></div>
            <div class="pointer"></div>
          </div>

          <p><input type="button" value="Going" id="gauge_button{{obj.id }}" /></p>

          <div id="list-type{{obj.id}}" class="collapse list-type">
            <ul>
              <li class="list"><h5>Kind of music</h5></li>
              <li class="list1"><a href="#">Alternative Rock</a></li>
              <li class="list2"><a href="#">Avant-Garde</a></li>
              <li class="list1"><a href="#">Acoustic Blues</a></li>
              <li class="list2"><a href="#">Sing-Along</a></li>
              <li class="list1"><a href="#">Bluegrass</a></li>
            </ul>
          </div>

        </div>
        <div class="caption-update">
            <div id="status_form{{ obj.id }}" style="display: none">
                {{ single_or_taken_form }}
                <input type="button" id="status_button{{ obj.id }}" value="Update Status" />
            </div>
          </div>
        
        
<script type="text/javascript">
  $(document).ready(function(){
    $('.speedometer{{obj.id}}').hover(function(){
      $('#list-type{{obj.id}}').css('display','block');
    }, function(){
      $('#list-type{{obj.id}}').css('display','none');
    });
  });
</script>
       
        <script type="text/javascript">
        if (top.location!= self.location)
        {
        top.location = self.location
        }
        </script>
        

          <script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ae89d6a0-1693-4dcb-a671-fc3ced250e76", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script src="/static/static_root/js/prefixfree.min.js"></script>
      </div>






    </div>
  </div>
  {% endfor %}
</div>




<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>

<script type="text/javascript"> 
    $(document).ready(function() {
       $("#selectLooking").on("change", function() {
                var selected = $('#selectLooking').val();         
                if(selected == 'clubbing') {
                    // $(".search-step2").removeClass("displayNONE");
                    $("#dateParty").addClass("displayNONE");
                }
                else {
                    $("#dateParty").removeClass("displayNONE");
                    $(".search-step2").addClass("displayNONE");
                }
        });
       $(".btnSearchClub").click(function() {
            $(".form-search-club").fadeToggle();
       })
       $('.wantRating').click(function() {
            $(this).parent().children(".form-rating").fadeToggle();
            if($(this).parent().children().children(".askRating").hasClass("displayNONE")) {
                $(this).parent().children().children(".donotRating").addClass("displayNONE");
                $(this).parent().children().children(".askRating").removeClass("displayNONE");
            }
            else {
                $(this).parent().children().children(".askRating").addClass("displayNONE");
                $(this).parent().children().children(".donotRating").removeClass("displayNONE");
            }
            
       })
    });
</script>
<script type="text/javascript" src="{% static 'static_root/js/star-rating.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        {% for obj in object_list %}
            var rate = '{{obj.rate}}';
            ratePercent = 0;
            labelRate = 0;
            if(rate == 'None') {
                rate = 0;
            }
            else {
                labelRate = parseFloat(rate).toFixed(1);
                ratePercent = (parseFloat(rate)*100)/5;
            }
            $(".clubrate{{obj.id}} .rating-stars").css("width",""+ratePercent+"%");
            $(".clubrate{{obj.id}} .label").text(""+labelRate);
        {% endfor %}
         
         $(".rating-container").click(function(){
          // var rate = parseFloat($(".getRace .label").text());
          // var rate = $(".getRace .label").text();
          var rate = $(this).parent().children().children('.label').text();
          var is_business = $(this).parent().parent().attr("id_business");
          console.log(rate);
    
          var url = "/posts/rateBusiness/";
          $.ajax({
            type: "POST",
            url: url,
            data: { business_id : is_business, rate: rate},
          }).done(function(response){
                if (response != "" && response != "rated") {
                     $(".clubrate"+is_business+" .rating-stars").css("width",""+response+"%");
                     $(".clubrate"+is_business+" .label").text(""+ parseFloat(parseFloat(response)*5/100).toFixed(1));
                     $(".frm-btn-tks"+ is_business + " .thankRating").removeClass("displayNONE");
                }
                else {
                    alert("you just are rated 1 times");
                }
                // if(response == "fail")
                // {
                //   alert("you must purchase this product ");
                //   window.location.replace("/product/single/{{product_volume.id}}");
                // }
                // else{
                //    // window.location.replace("/product/single/{{product_volume.id}}");
                // }
           });
      });
    })
</script>


<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>


</div>


</div>
<script>
    var gauge_collection = [];
    var bar_collection = [];
        $( document ).ready(function() {
    $('.gauge').each( function(index, value) {
       var gauge = new Gauge($(value).attr('data-id'),$(value).attr('data-followers'),$(value).attr('data-followed'),'posts');
        gauge_collection.push(gauge);
    });
    $('.bar_chart').each( function(index, value) {
       var bar_chart = new PostChart($(value).attr('data-id'),$(value).attr('data-single'),$(value).attr('data-taken'),$(value).attr('data-confused'),'posts');
        bar_collection.push(bar_chart);
    })
    var bar_chart_business = new PostBusinessChart()
});
        </script>


    {% endblock %}



{% block boostrap %}
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/static_root/geofence/geofence_navigator.js"></script>
  <script>
  var options = {
    location_list_url : '/posts/locations/',
    follow_url : '/posts/follow/',
  };
  var monitor = new GeoFenceMonitor(options);
  </script>

{% endblock %}