<!-- Modal -->
<div class="modal fade" id="modalDelClub" role="dialog">
  <div class="modal-dialog">
    
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title modal-title-Club" >Delete Club</h4>
      </div>
      <div class="modal-body modal-body-exper modal-body-value modal-body-t">
          <div style="text-align:center;">
              <label>Are you sure you want to remove this?</label>
          </div>
      </div>
      <div class="modal-footer modal-footer-value">
        <button type="button" class="btn btn-danger" id="btnDeleteClub" >Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
    
  </div>
</div>

