  <!-- Modal -->
  <div class="modal fade" id="modalEditClub" role="dialog">
    <div class="modal-dialog">
        
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title modal-title-Club">Club</h4>
        </div>
        <div class="modal-body modal-body-exper modal-body-t">
        <form id="updateClub" method='post'>
            <input type="hidden" id="id_is_editClub" is_idClub="" value="" name="idEditClub"></span>
          
            <div class="lineEnter">
                <label>Name Club</label>
                <div class="lineEnter displayNONE lineErroRefer"><label></label> <p class="errorField displayNONE" id="errornameCareer">this field is required</p></div>
                <input type="text" class="form-control dataClub" id="exper_project_name" id_tmp="errornameCareer" name="title">
            </div>
            <div class="lineEnter">
                <label>Address</label>
                <div class="lineEnter displayNONE lineErroRefer"><label></label> <p class="errorField displayNONE" id="errorAddress">this field is required</p></div>
                <input type="text" class="form-control dataClub positiveNumbersExperience" id="addressClub" id_tmp="errorAddress" name="address">
             
            </div>
            <div class="lineEnter">
                <label>Phone Number</label>
                <div class="lineEnter displayNONE lineErroRefer"><label></label> <p class="errorField displayNONE" id="errorPhoneNumber">this field is required</p></div>
                <input type="number" class="form-control dataClub positiveNumbersExperience" id="exper_duration" id_tmp='errorPhoneNumber' name="phone_number">
            </div>  
            <div class="lineEnter">
                <label>Hours of operation</label>
                <div class="lineEnter displayNONE lineErroRefer"><label></label> <p class="errorField displayNONE" id="errorHours">this field is required</p></div>
                <input type="number" class="form-control dataClub" id="exper_company" id_tmp="errorHours" name="hours_of_operation">
            </div>  
            <div class="lineEnter">
                <label>Cover price</label>
                <div class="lineEnter displayNONE lineErroRefer"><label></label> <p class="errorField displayNONE" id="errorValuePrice">this field is required</p></div>
                <input type="number" class="form-control dataClub positiveNumbersExperience" id="exper_projectValue" id_tmp="errorValuePrice" name="cover_price">
            </div>
            <div class="lineEnter">
                <label>Dress code</label>
                <div class="lineEnter displayNONE lineErroRefer"><label></label> <p class="errorField displayNONE" id="errorValueDress">this field is required</p></div>
                <input type="text" class="form-control dataClub positiveNumbersExperience" id="exper_projectValue" id_tmp="errorValueDress" name="dress_code">
            </div>
            <div class="lineEnter">
                <label>Capacity</label>
                <div class="lineEnter displayNONE lineErroRefer"><label></label> <p class="errorField displayNONE" id="errorValueCapacity">this field is required</p></div>
                <input type="number" class="form-control dataClub positiveNumbersExperience" id="exper_projectValue" id_tmp="errorValueCapacity" name="capacity">
            </div>
            <div class="lineEnter">
                <label>Age restriction</label>
              <!--   <div class="lineEnter displayNONE lineErroRefer"><label></label> <p class="errorField displayNONE" id="errorValueAge">this field is required</p></div> -->
                <select class="form-control dataClub" name="age_restriction" id_tmp="errorValueAge">
                        <option value="">------</option>
                        <option value="l">18-22</option>
                        <option value="m">23-27</option>
                        <option value="h">28-32</option>

                </select>
            </div>
            <div class="lineEnter">
                <label>Website of the club</label>
                <div class="lineEnter displayNONE lineErroRefer"><label></label> <p class="errorField displayNONE" id="errorValueWebsite">this field is required</p></div>
                <input type="text" class="form-control dataClub positiveNumbersExperience" id="websiteClub" id_tmp="errorValueWebsite" name="website" valid="">
            </div>
            <div class="lineEnter">
                <label>Type of music</label>
                <div class="lineEnter displayNONE lineErroRefer"><label></label> <p class="errorField displayNONE" id="errorValueMusic">this field is required</p></div>
                <input type="text" class="form-control dataClub positiveNumbersExperience" id="exper_projectValue" id_tmp="errorValueMusic" name="type_of_music">
            </div>
            <div class="lineEnter">
                <label>Location</label>
                <div class="lineEnter displayNONE lineErroRefer"><label></label> <p class="errorField displayNONE" id="errorValueLocation">this field is required</p></div>
                <select class="form-control dataClub" name="location" id="location" id_tmp="errorValueLocation">
                    <option value="">------</option>
                    {% for inf in request.user.getListLocation %}
                        <option value="{{inf.id}}">{{inf.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="lineEnter">
                <label>Description</label>
                <textarea name="content" class="form-control dataClub"></textarea>
            </div>
            <input type="hidden" name="lat" id="lat" />
            <input type="hidden" name="lng" id="lng" />
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="club_cancel">Cancel</button>
          <button type="button" class="btn btn-default" id="club_save">Save</button>
        </div>
      </div>
      
    </div>
  </div>
  
  