{% extends "base.html" %}
{% load static from staticfiles %}

{% block static %}
    <link rel="stylesheet" href="{% static 'signups/css/signups.css' %}"
{% endblock %}

{% block title %}
<title>Sign Up</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
{% endblock %}



{% block content %}
<div class="container">

    <h1 class="heading_get_started">Get Started Now</h1>

    <p>Already have an account? Then please <a href="/accounts/login/">sign in</a>.</p>
    <form class="signup" id="signup_form" method="POST" action="/accounts/signup/">
        {% csrf_token %}
        <input autofocus="autofocus" id="id_username" maxlength="30" name="username" placeholder="Username" type="text" class="w-input">
        <input id="id_email" name="email" placeholder="E-mail address" type="email" class="w-input">
        <input id="id_business_name" name="business_name" placeholder="Business name" type="text" class="w-input">
        <input id="id_password1" name="password1" placeholder="Password" type="password" class="w-input">
        <input id="id_password2" name="password2" placeholder="Password (again)" type="password">
        <input type="submit" value="Sign up" data-wait="Please wait..." class="btn btn-primary btn-lg btn-block">
        </form>
    <div>
    {% if messages %}
        <div class="row">
            <div class="col-small-6 w-col-small-offset-12">
         <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags == "success" %} class="alert alert-success"{% endif %}><h5> {{ message }}</h5></li>
        {% endfor %}
             </ul>
                </div>
            </div>
    {% endif %}
        </div>

</div>






<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


{% endblock %}
